<br/>
<div id="footer">
    <p id="wdjfbosdufbdsifhbds">Made by: Adrian Tallgård, Henrik Arvidsson   .</p>
</div>

<style>
    #wdjfbosdufbdsifhbds {
        float: right;
        color: white;
    }
    #footer {
        margin: 0 auto;
        width: 90%;
        height: 35px;
        background-color: #2d9b1d;
    }
</style>