@addTagHelper"*,Microsoft.AspNet.Mvc.TagHelpers"



<div id="Header">
    <center>
        <ul>
            <li><a asp-action="Home"><img  id="MoosePicHeader" src="~/images/moosechatt.jpg" /></a></li>
            <li><a asp-action="Information">Information</a></li>
            <li><a asp-action="LogIn">Log in</a></li>
            <li><a asp-action="Register">Skaffa MooseChatt</a></li>
        </ul>
    </center>
</div>

<style>
    #MoosePicHeader {
        width: 120px;
        height: 25px;
    }
    ul {
        padding: 0;
    }
    li {
        display: inline;
    }
    a {
        font-family: Comic Sans MS;
        color: black;
        padding: 30px 10px;
        text-decoration: none;
        border-radius: 4px 4px 0 0;
    }
</style>