
@model Amazon.Models.Comment


<div id="ewbt4qeuipgbv">
    <center><p style="font-family: 'Comic Sans MS'; font-size: 20px;">Forums</p></center>

    <div id="postarea">

        @Html.Partial("_PostInfoBox")

    </div>

</div>

<style>
    #postarea {
        width: 66%;
        float: left;
        height: 550px;
        border: double;
    }
    #ewbt4qeuipgbv {
        margin: 0 auto;
        width: 90%;
        height: 600px;
    }
</style>