@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<center><p style="font-family: 'Comic Sans MS'; font-size: 20px;">Store</p></center>