<div id="bildsquare">
    <img id="grupp1hem" src="~/images/grupp1.jpg" />
    <img id="grupp2hem" src="~/images/grupp2.jpg" />
</div>

<style>
    #bildsquare {
        width: 100%;
        height: 380px;
    }
    #grupp1hem {
        width: 50%;
        height: 483px;
        float: left;
    }
    #grupp2hem {
        width: 50%;
        height: 483px;
        float: right;
    }
</style>