<div id="ascduygvifhjodbgojfdbg">
    <img id="jkgfndsjkg" src="~/images/404error.jpg" />
</div>

<style>
    #ascduygvifhjodbgojfdbg {
        margin: 0 auto;
        width: 90%;
    }
    #jkgfndsjkg {
        margin: 0 auto;
        width: 90%;
    }
</style>